<style>
.bgue {
    padding: 5%;
    background: #FFFFFF50 0% 0% no-repeat padding-box;
    border-radius: 30px;
    backdrop-filter: blur(19px);
}

.countdown {
        background: linear-gradient(to right, #FD4C18, #FD4C18);
        padding: 10px 50px;
        border-radius: 75px;
        position: relative;
        overflow: hidden;
    }

    .countdown img {
        width: 400px;
        transform: translateY(13.5px);
        position: relative;
        z-index: 0;
    }

    .countdown > div {
        position: absolute;
        z-index: 1;
        height: 20px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, #FD4C18, #FD4C18);
    }

    @media (max-width: 768px) {
        .countdown {
            padding: 7.5px 30px;
        }

        .countdown > div {
            height: 15px;
        }

        .countdown img {
            transform: translateY(10px);
        }
    }

@media (max-width: 768px) {
    .bgue {
        background-color: transparent;
        background-image: url('https://cdn.shopify.com/s/files/1/0925/8028/2664/files/Mask_Group_11_2x_b7f68c29-44ce-45c8-b1b8-c17f2123dbbf.jpg?v=1754027080');
        backdrop-filter: none;
        border-radius: 0;
        margin: 0 -16px;
        padding: 2vw 15vw 7.5vw;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
</style>

<section
        class="background-image er-pb-32 er-overflow-hidden er-relative er-flex er-items-center er-justify-center er-bg-[#CABBA8] mb:er-pb-16 er-font-base">
        <img src="https://cdn.shopify.com/s/files/1/0925/8028/2664/files/Mask_Group_9_2x_65ef6985-0a62-4d60-8d6a-e7376e43ff7d.jpg?v=1754016116"
            class="mb:!er-hidden" alt="">
        <div class="er-flex er-flex-col er-items-center centeral-content er-text-white mb:er-px-4">
            <img src="https://www.aivela.com/cdn/shop/files/logo.png?v=12583161429861560887" class="mb:er-max-w-32"
                loading="lazy" width="250" alt="" />
            <h1 class="text-size48 er-text-white er-my-5 mb:er-text-2xl er-text-center">Thanks for Signing Up!<br><span class="mb:er-font-light">Reserve Now Before the VIP Deal Goes Away!</span></h1>
            {% comment %} <div class="countdown er-mb-8 mb:er-mb-2">
                    <h6 class="text-size30 er-font-medium er-text-center er-mt-1 er-rounded-full mb:er-text-2xl">Launching in</h6>
                    <img src="https://i.countdownmail.com/4fmw4n.gif" alt="">
                    <div></div>
                </div> {% endcomment %}
            <div
                class="er-grid er-grid-cols-2 er-items-start er-gap-x-24 er-border-t er-border-[#999] er-border-solid er-pt-10 mb:er-grid-cols-1 mb:er-pt-0 mb:er-border-none">
                <div class="bgue">
                    <img src="https://cdn.shopify.com/s/files/1/0925/8028/2664/files/12314124_2x_ef3aadb5-b29d-4f55-8d83-863592b4ca17.png?v=1754016774"
                        alt=""></img>
                </div>
                <div class="er-flex er-flex-col">
                    <h2 class="text-size36 mb:er-text-2xl">AIVELA RING PRO</h2>
                    <div class="er-flex er-items-start er-justify-start er-mt-4">
                        <h3 class="text-size48 er-text-primary mb:er-text-4xl" style="text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;">$99</h3>
                        <del
                            class="er-text-[#E3E3E3] text-size24 er-font-light er-block er-mx-2 mb:er-text-xl mb:er-mx-1">$249</del>
                        <div
                            class="er-bg-primary text-size24 er-font-light er-px-5 er-py-1 er-rounded-3xl mb:er-text-base">
                            VIP Deal
                        </div>
                    </div>
                    <p class="text-size20 er-font-medium er-text-white er-leading-normal mb:er-text-base mb:er-mt-2 er-font-poppins">
                        <span>Secure the best price by becoming a VIP with a fully refundable $9.9 deposit, even lower
                            than the Super Early Bird Price</span>
                    </p>
                    <p class="text-size16 er-text-white er-mt-4 mb:er-text-sm er-leading-relaxed er-font-poppins">
                        <span>✅ AIVELA RING PRO for $99 ($50 off compared to Super Early Bird Price) <br>
                            ✅ AIVELA ring
                            charging case for FREE <br>
                            ✅ 2-year limited warranty only for crowdfunding backers</span>
                    </p>
                    <button class="er-button !er-w-full er-my-6 mb:er-text-xl" style="border-radius: 50px;font-weight: 600;" onclick="addCart">Reserve Now for $9.9</button>
                    <div class="er-grid er-grid-cols-3 er-gap-x-12 mb:er-grid-cols-1 mb:er-gap-y-6">
                        <div class="mb:er-flex er-items-start">
                            <img width="40" loading="lazy"
                                src="https://cdn.shopify.com/s/files/1/0925/8028/2664/files/1737376_dollar_money_sign_icon_2x_6577a5a1-e33d-4378-acd2-9fc03b989117.png?v=1754019871"
                                alt="">
                            <div class="er-ml-2">
                                <h3 class="text-size20 er-font-bold er-mb-2 mb:er-text-base">Guaranted <br
                                        class="mb:er-hidden">100% Refund</h3>
                                <p class="text-size14 er-opacity-80 er-font-poppins">
                                    <span>We will fully refund the deposit if you choose not to back us in the
                                        crowdfunding
                                        campaign.</span>
                                </p>
                            </div>
                        </div>
                        <div class="mb:er-flex er-items-start">
                            <img width="40" loading="lazy"
                                src="https://cdn.shopify.com/s/files/1/0925/8028/2664/files/510926_lock_locked_protected_secure_icon_2x_cf9ebfe7-cff5-4441-abbd-bee2f610a9a7.png?v=1754019876"
                                alt="">
                            <div class="er-ml-2">
                                <h3 class="text-size20 er-font-bold er-mb-2 mb:er-text-base">Limited <br
                                        class="mb:er-hidden">Spots</h3>
                                <p class="text-size14 er-opacity-80 er-font-poppins">
                                    <span>We will take only 500 VIP reservations to reward our earliest backers.</span>
                                </p>
                            </div>
                        </div>
                        <div class="mb:er-flex er-items-start">
                            <img width="28" loading="lazy" class="er-translate-x-3 er-translate-y-1 mb:er-translate-x-[6px]"
                                src="https://cdn.shopify.com/s/files/1/0925/8028/2664/files/9040522_hand_thumbs_up_icon_2x_826581d3-df5c-471e-b108-8685a1801652.png?v=1754017978"
                                alt="">
                            <div class="er-ml-3">
                                <h3 class="text-size20 er-font-bold er-mb-2 er-mt-3 mb:er-text-base mb:er-mt-0">
                                    Transparent <br class="mb:er-hidden">Process</h3>
                                <p class="text-size14 er-opacity-80 er-font-poppins">
                                    <span>We will send you a secret link at launch on Kickstarter, which is valid for
                                        you
                                        exclusively.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    	<script type="module">
		const variant = 50340151394600;

		async function addCart() {

		    // await clearCart();

			let formData = {
				items: [
					{
						id: variant,
						quantity: 1,
					},
				],
			};

			fetch('/cart/add.js', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(formData),
			})
				.then((response) => {
					location.href = '/checkout';
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		}

		function clearCart(){
		   return fetch('/cart/clear.js', {
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
		        },
		    })
		}

		window.document.querySelector('button').addEventListener('click', addCart);

		clearCart()
	</script>